USE [empresa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_contenido_x_idseccion]    Script Date: 22/10/2025 01:23:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_contenido_x_idseccion](
	@idseccion INT
)
AS
BEGIN
	SELECT cc.Id, cc.idcatseccion, cc.contenido
	FROM cat_secciones cs
	INNER JOIN cat_contenido cc ON cs.Id=cc.idcatseccion
	WHERE cs.estatus=1 AND cc.estatus=1
END
GO
/****** Object:  Table [dbo].[cat_contenido]    Script Date: 22/10/2025 01:23:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_contenido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idcatseccion] [int] NULL,
	[contenido] [text] NULL,
	[registro] [date] NULL,
	[estatus] [tinyint] NULL,
	[usuario] [varchar](50) NULL,
 CONSTRAINT [PK_cat_contenido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_secciones]    Script Date: 22/10/2025 01:23:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_secciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[usuario] [varchar](50) NULL,
 CONSTRAINT [PK_cat_secciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
