USE [empresa]
GO
/****** Object:  Table [dbo].[cat_contenido]    Script Date: 25/10/2025 12:23:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_contenido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idcatseccion] [int] NULL,
	[contenido] [varchar](500) NULL,
	[registro] [date] NULL,
	[estatus] [tinyint] NULL,
	[usuario] [varchar](50) NULL,
 CONSTRAINT [PK_cat_contenido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_librerias]    Script Date: 25/10/2025 12:23:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_librerias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
	[descripcion] [varchar](500) NULL,
	[documentacion] [varchar](500) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[usuario] [varchar](50) NULL,
 CONSTRAINT [PK_cat_librerias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_secciones]    Script Date: 25/10/2025 12:23:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_secciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](500) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[usuario] [varchar](50) NULL,
 CONSTRAINT [PK_cat_secciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cat_contenido] ON 

INSERT [dbo].[cat_contenido] ([Id], [idcatseccion], [contenido], [registro], [estatus], [usuario]) VALUES (1, 1, N'Tabla donde se encuentran algunos elementos que se pueden utilizar en una página web', CAST(N'2025-10-23' AS Date), 1, N'agongora')
SET IDENTITY_INSERT [dbo].[cat_contenido] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_librerias] ON 

INSERT [dbo].[cat_librerias] ([Id], [nombre], [descripcion], [documentacion], [estatus], [registro], [usuario]) VALUES (1, N'dataTables', N'Mejora la accesibilidad de los datos de las tablas basadas en HTML, teniendo en cuenta la clase y la estructura de la tabla.', N'https://datatables.net/manual/', 1, CAST(N'2025-10-22' AS Date), N'agongora')
INSERT [dbo].[cat_librerias] ([Id], [nombre], [descripcion], [documentacion], [estatus], [registro], [usuario]) VALUES (2, N'Fontawesome', N'Ofrece iconos vectoriales escalables que se pueden personalizar al instante: tamaño, color, sombra de caída y cualquier cosa que se pueda hacer con CSS', N'https://fontawesome.com/v4/', 1, CAST(N'2025-10-23' AS Date), N'agongora')
INSERT [dbo].[cat_librerias] ([Id], [nombre], [descripcion], [documentacion], [estatus], [registro], [usuario]) VALUES (3, N'Select2', N'Le ofrece un cuadro de selección personalizable con soporte para buscar, etiquetar, conjuntos de datos remotos, desplazamiento infinito y muchas otras opciones muy utilizadas.', N'https://select2.org/', 1, CAST(N'2025-10-23' AS Date), N'agongora')
SET IDENTITY_INSERT [dbo].[cat_librerias] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_secciones] ON 

INSERT [dbo].[cat_secciones] ([Id], [nombre], [estatus], [registro], [usuario]) VALUES (1, N'Listado de Librerias', 1, CAST(N'2025-10-23' AS Date), N'agongora')
SET IDENTITY_INSERT [dbo].[cat_secciones] OFF
GO
ALTER TABLE [dbo].[cat_librerias] ADD  CONSTRAINT [DF_cat_librerias_registro]  DEFAULT (getdate()) FOR [registro]
GO
ALTER TABLE [dbo].[cat_librerias] ADD  CONSTRAINT [DF_cat_librerias_usuario]  DEFAULT ('agongora') FOR [usuario]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_contenido_x_idseccion]    Script Date: 25/10/2025 12:23:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_contenido_x_idseccion](
	@idseccion INT
)
AS
BEGIN
	SELECT cc.Id, cc.idcatseccion, cc.contenido
	FROM cat_secciones cs
	INNER JOIN cat_contenido cc ON cs.Id=cc.idcatseccion
	WHERE cs.estatus=1 AND cc.estatus=1
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_librerias]    Script Date: 25/10/2025 12:23:51 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_librerias]
AS
SET NOCOUNT ON
BEGIN
	SELECT Id, nombre, descripcion, documentacion, registro, estatus, usuario
	FROM cat_librerias
	WHERE estatus=1
END


-- exec pa_consultar_librerias
GO
